@model IEnumerable<Bicks.Models.Sale>

@{
    ViewData["Title"] = "Sale List";
    ViewData["Heading"] = "Sales";
}

@section Toolbar {
}

<script>
    $(document).ready(function () {
        $('#client-table').DataTable({
            "aaSorting": [],
            columnDefs: [{
                orderable: false,
                targets: [3, 4, 5, 6]
            }]
        });
    });
</script>

<section class="data-section">
    <h2 class="section-header">Sales</h2>
    <div class="section-body">
        <div class="text-center">
            <table id="client-table" class="table table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr hidden>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Client.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SaleDateTime)
                        </th>
                        <th style="width: 25%" colspan="4">Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Client.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SaleDateTime)
                        </td>
                        <td>
                            <a asp-area="Sales" asp-controller="Sales" asp-action="EditSale" asp-route-id="@item.ID">
                                <i class="fa fa-pen"></i>
                                <p class="">Edit Sale</p>
                            </a>
                        </td>
                        <td>
                            <a asp-area="Sales" asp-controller="Sales" asp-action="Packing" asp-route-id="@item.ID">
                                <i class="fa fa-clipboard"></i>
                                <p class="">Packing</p>
                            </a>
                        </td>
                        <td>
                            <a asp-area="Sales" asp-controller="Sales" asp-action="Invoicing" asp-route-id="@item.ID">
                                <i class="fa fa-credit-card"></i>
                                <p class="">Invoicing</p>
                            </a>
                        </td>
                        <td>
                            <a asp-area="Sales" asp-controller="Sales" asp-action="DeleteSale" asp-route-id="@item.ID">
                                <i class="fa fa-trash"></i>
                                <p class="">Delete Sale</p>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>